@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400&display=swap');
:root {
    --main-color:#eee;
    --text-red:#f50002;
    --link-blue:#004caf;
    --text-grey:#445;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;   
}
/* color text */
.green
{
    color: #2a3a08 !important;
}
.left {
    margin-left: 5px;
}
.rigth {
    text-align: right;
    margin-right: 5px;
}
.red {
    color: red;
}
.pointer {
    cursor: pointer;
}
.cc {
    color: #ccc !important;
}
.row {
    margin-top: 15px !important;
}
.text-add-width {
    width: 150px ;
}
.text-add-weight {
    font-weight: 600;
}
.big
{
    margin: 5px 0 10px 0;
    border: none !important;

}
.text-big
{
    font-size: 1.5em;
    
}
/* color text */

.Bill
{
    margin: 15px auto;
    width: 95vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Bill h2
{
    position: absolute;
    top: .9rem;
    left: 3.5rem;
    
}
.header
{
    display: flex;
    width: 100%;
}

.header h2
{
    color: var(--text-grey);
    font-size: 2em;
}

.box-home
{
    display: flex;
    border:#eee solid 1px ;
    background: #eee;
    border-radius: 5px;
}

.box-home h3
{
    position: relative;
    top: 4px;
    left: 10px;
}

.Text-Red
{
    color: var(--text-red);
    font-size: 1em;
}
.Text-Red span {
    color: #ccc;
}

.box-bill-money {
    margin-top: 15px;
    border: 1px solid #eee;
    width: 100%;
    border-radius: 5px;
}

.box-bill-header {
    background-color: #eee;
    width: 100%;
    height: 30px;
    display: flex;
    padding-left: 15px;
}


.box-bill-header p {
    color: red;
}

.box-bill-header a {
    margin-left: 15px;
}

.box-bill-body {
    padding: 15px;
}

.box-button {
    display: flex;
    justify-content: space-between;
}

.box-button button {
    width: 45%;
}

.cc select {
    color: #aaa !important;
}

.unbill {
    display: flex;
    justify-content: space-between;
}

.unbill-box {
    border: 1px solid #eee;
    width: 49%;
    margin-top: 15px;
    border-radius: 5px;
}

.manage {
    border: 1px solid #eee;
    width: 49%;
    margin-top: 15px;
    border-radius: 5px;
}


.unbill-box-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

.unbill-box-header p {
    margin: 0;
    color: red;
    text-align: center;
}

.unbill-body {
    padding: 10px;
    width: 100%;
}

.grid-table {
    border: 1px solid #eee;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-table .box {
    border: 1px solid #eee;
}

.box-row-h {
    border: 1px solid #eee;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-row-h p {
    margin: 0;
    color: red;
    text-align: center;
}

.box-row {
    border: 1px solid #eee;
    height: 25px;
}

.box-row p {
    color: red;
}

.unbill-body .div-a {
    margin-top: 15px;
    font-size: 14px;
    text-align: center !important;
}

.div-a a {
    text-decoration: none;
    color: red;
}

.grid-table2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}


.flex-row-box {
    display: flex;
    justify-content: space-between;
}

.flex-row-box div {
    width: 40%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.mb{
    margin: auto;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-grey
{
    background: #eee !important;
    border: none !important;
    height: 30vh;
}
.grid-table4
{
    border: 1px solid #eee;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}